
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: League Gothic, tahoma, arial; 

}
header{
  background-color: #424242;
  padding-bottom: 2% ;
}
body{
  background-color: #808080;
}
#title{
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000;
  margin-left: 10%;
  padding-top: 1%;
  font-size: 4em;
  color: #3c5aa6;
}
main{
  border-radius: 10px;
  margin: -3% 10% 0% 10%;
  width: 80%;
  background-color: rgb(220, 220, 220);

}

section#body{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
  
}
section#body div.card{
  width: 10%;
  box-shadow: 2px 0px gray, 0.5em 0 0.4em #a9a9a9 ;
  margin-left: 0.1%;
  padding: 5%;
  background-color: white;
  margin-top: 2%;
  border-radius: 10px;

}

section#body div.card img{
  width: 90%;
  margin-bottom: 2%;
}

section#body div.card h2{
  float: left;
}

section#body div.card h3{
  margin-left: 70%;
  margin-bottom: 15%;
  opacity: 0.5;
}

section#body div.card p.description{
  margin-bottom: 13%;
}
section#register form{
  width: 50%;
}
section#register{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  padding-left: 12%;
}
section#register h2{
  width: 80%;  
  text-align: center;
  padding-bottom: 2%;
}
section#register form input{
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px #424242;
  margin-bottom: 1rem;

}

section#register form label{
color:  #424242;
}

section#register form button{
  margin-left: 40%;
  padding: 0.7rem;
  width: 20%;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  background-color: rgb();
  border-width: 1px;
  border: solid 1px #424242;
  cursor: pointer;
  transition: 0.5s ease-in-out; 

}
section#register form button:hover{
  background-color: black;
  color: white;

}
